html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
    background-color: black;
}

canvas {
    display: block; /* Remove extra space below canvas */
}
